.semi-header {
    position: fixed;
    top: 60px;    
    height: 40px;
    width: 100%;
    z-index: 9;
    background-color: #D9D0C1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.semi-header h2 {
    font-size: 25px;
    margin-left: 20px;
    color: #595959;
}

.background {
    height: 100vh;
    background-image: url(diary.jpg);
    background-size: cover;
}



.contents {
    position: absolute;
    top: 25%;
    right: 0%;
    height: 70%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}

.mail {
    font-size: 22px;
    color: white;
    font-weight: bold;
}
.mail_form input[type="email"]{
    height: 25px;
    font-size: 16px;
}
.mail_sample {
    color: #F2F0C9;
    margin-top: 15px;
}
.password {
    color: white;
    font-weight: bold;
    margin-top: 30px;
    font-size: 22px;
}
.password_form input[type="password"]{
    height: 20px;
    font-size: 16px;
}
.password_sample {
    color: #F2F0C9;
    margin-top: 15px;
}

.keep_login {
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.ifkeep {
    color: white; 
    font-weight: bold;
    font-size: 20px;
}
.check_box {
    margin-left: 5px;
    transform: scale(1.5);
}

.actions {
    margin-top: 30px;
}
.actions input[type="submit"] {
    height: 40px;
    width: 100px;
    font-size: 20px;
}

.option {
    margin-top: 60px;
}

.renderlink {
    color: white; 
    text-decoration: none;
}

.renderlink:link {
    color: white; 

}

.renderlink:hover {
    color: #D9D9D9;
    text-decoration: underline;
}